
<div id="animalTypeModal" class="modal">
    <div class="modal-content">
      <h1>Create New Animal Type</h1>
      <form id="animalTypeForm">
        <label for="namaJenis">Nama Jenis</label>
        <input type="text" id="namaJenis" placeholder="Nama Jenis" required>
        
        <div class="modal-actions">
          <button type="button" id="cancelButton" class="button-secondary">Cancel</button>
          <button type="submit" class="button">Create</button>
        </div>
      </form>
    </div>
  </div>