{% extends "base.html" %}
{% include 'components/navbar_dokter.html' %}

{% block title %}Delete Treatment{% endblock %}

{% block content %}
<div class="container mx-auto p-4 max-w-md">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-4 text-red-600">Delete Treatment</h1>
        
        <div class="mb-6">
            <p class="text-gray-700 mb-4">Apakah kamu yakin untuk menghapus Perawatan untuk Kunjungan 
                <strong class="text-red-600">KJN001</strong> 
                dengan Perawatan 
                <strong class="text-red-600">TRM001</strong>?
            </p>
        </div>
        
        <div class="flex justify-end space-x-4">
            <a href="{% url 'perawatan_hewan:list_treatment' %}" class="py-2 px-4 border border-gray-300 rounded-md text-sm text-gray-700 hover:bg-gray-50">
                Cancel
            </a>
            <form method="post" class="inline">
                {% csrf_token %}
                <button type="submit" class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white rounded-md">
                    Confirm Deletion
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}