<!DOCTYPE html>

<style>
.button {
    border-style: solid;
    border-color: red;
    color: white;
    background-color:red;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    }

  .cancel {
      background-color: white;
      color: rgb(28, 28, 81);
      border-style: solid;
      border-color: lightgray;
      border-width: 1px;
  }
</style>

<h1 style="margin-left: 100px; font-family: Arial; color:red">Delete Vaccination</h1>

<p style="font-family: Arial; margin-left: 100px;">
    Apakah kamu yakin untuk menghapus Vaksinasi untuk Kunjungan 
    <strong style="color: red;">KJN001</strong> 
    dengan Vaksin 
    <strong style="color: red;">VAC001</strong>?
</p>

<div align="right" style="margin-right: 100px;">
    <button class="button cancel">Cancel</button>
    <button class="button">Confirm Deletion</button>
</div>